@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}
@* @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
{
    <div class="alert alert-danger"> @ViewBag.Error</div>

} *@
@if (!string.IsNullOrWhiteSpace(ViewBag.Success))
{
    <div class="alert alert-success">
        @ViewBag.Success
        <br />
        <a asp-action="Login" asp-controller="Auth"> Go to Login Page >> </a>

    </div>
}
else if (!string.IsNullOrWhiteSpace(ViewBag.ErrorToken))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorToken
        <br />
        <a asp-action="Login" asp-controller="Auth"> Go to Login Page <a asp-action="ForgotPassword" asp-controller="Auth"> or Forgot Password </a></a>
    </div>
}
else if (!string.IsNullOrWhiteSpace(ViewBag.InvalidToken))
{
    <div class="alert alert-danger">
        @ViewBag.InvalidToken
    </div>
}
else
{


    <h2 style="justify-content:center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="d-flex mb-2">Reset Password</h2>

    <div class="container-fluid justify-content-center mb-2 align-items-center d-flex">
        <form asp-action="ResetPassword" asp-controller="Auth" method="post">


            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" style="max-width:300px;" />
                <span style="font-style:italic">*New Password area is required.</span>
                @* <span asp-validation-for="NewPassword" class="text-info" ></span>  *@
            </div>

            <div class="form-group">
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword" class="form-control" style="max-width:300px;" />
                <span style="font-style:italic">*Confirm New Password area is required.</span>

                @* <span asp-validation-for="ConfirmNewPassword" class="text-info" ></span> *@
                @if (!string.IsNullOrWhiteSpace(ViewBag.Error))
                {
                    <div class="alert alert-danger"> @ViewBag.Error</div>
                }
                @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
                {
                    <div class="text-success" style="font-size:larger"> @ViewBag.Message</div>
                }
            </div>

            <button type="submit" style="padding:8px,10px" class="btn btn-primary mb-2">Reset Password</button>
        </form>


    </div>
}
