@model Ads.Web.Mvc.Models.UserViewModel
@if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
{
    <div class="alert alert-success d-flex justify-content-center align-items-center">@TempData["SuccessMessage"]</div>
}
@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
{
    <div class="alert alert-danger d-flex justify-content-center align-items-center">@TempData["ErrorMessage"]</div>
}
@if (!string.IsNullOrEmpty(TempData["UploadMessage"] as string))
{
    <div class="alert alert-success d-flex justify-content-center align-items-center">@TempData["UploadMessage"]</div>
}
@{
    var userImagePath = Url.Content(Model.UserImagePath);
}
<section class="user-profile section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                <div class="sidebar">
                    <!-- User Widget -->
                    <div class="widget user">
                        <!-- User Image -->
                        <div class="profile-thumb" style="text-align: left;">
                            <div class="image-container">
                                <img src="@userImagePath" alt="" class="rounded-circle" style="width: 100px; height: 100px; margin-left:50px;">
                            </div>
                        </div>



                        <!-- User Name -->
                        <h5 class="text-center">@Model.Name</h5>
                    </div>
                    <!-- Dashboard Links -->
                    <div class="widget dashboard-links">
                        <ul>
                            <li><a class="my-1 d-inline-block" href="">Savings Dashboard</a></li>
                            <li><a class="my-1 d-inline-block" href="">Saved Offer <span>(5)</span></a></li>
                            <li><a class="my-1 d-inline-block" href="">Favourite Stores <span>(3)</span></a></li>
                            <li><a class="my-1 d-inline-block" href="">Recommended</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
                <!-- Edit Profile Welcome Text -->
                <div class="widget welcome-message">
                    <h2>Edit profile</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <!-- Edit Personal Info -->
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="widget personal-info">
                            <h3 class="widget-header user">Edit Personal Information</h3>
                            <form asp-action="EditName" asp-controller="User" method="post" asp-route-id="@Model.Id">
                                <!-- First Name -->
                                <div class="form-group">
                                    <label asp-for="Name">First Name and Last Name</label>
                                    <input type="text" class="form-control" asp-for="Name">
                                <button type="submit" class="btn btn-transparent">Save My Changes</button>
                                </div>
                            </form>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Upload an Image</h5>
                                <form method="post" asp-action="AddImage" asp-controller="User" enctype="multipart/form-data">
                                    <div class="form-group choose-file d-inline-flex">
                                        <i class="fa fa-user text-center px-3"></i>
                                        <input type="file" name="formFile" class="form-control-file mt-2 pt-1">
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-3">Upload Picture</button>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <!-- Change Password -->
                        <div class="widget change-password">
                            <h3 class="widget-header user">Edit Password</h3>
                            <form asp-action="Edit" asp-controller="User" method="post" asp-route-id="@Model.Id">
                                <!-- Current Password -->
                                <div class="form-group">
                                    <label for="current-password">Current Password</label>
                                    <input type="password" class="form-control" id="current-password">
                                </div>
                                <!-- New Password -->
                                <div class="form-group">
                                    <label for="new-password">New Password</label>
                                    <input type="password" class="form-control" id="new-password">
                                </div>
                                <!-- Confirm New Password -->
                                <div class="form-group">
                                    <label for="confirm-password">Confirm New Password</label>
                                    <input type="password" class="form-control" id="confirm-password">
                                </div>
                                <!-- Submit Button -->
                                <button type="submit" class="btn btn-transparent">Change Password</button>
                            </form>
                        </div>
                    </div>
                   @*  <div class="col-lg-6 col-md-6">
                        <!-- Change Email Address -->
                        <div class="widget change-email mb-0">
                            <h3 class="widget-header user">Edit Email Address</h3>
                            <form asp-action="EditEmail" asp-controller="User" method="post" asp-route-id="@Model.Id">
                                <div class="form-group">
                                    <label>New email</label>
                                    <input type="email" class="form-control" asp-for="NewEmail">
                                    <span asp-validation-for="NewEmail" class="text-danger"></span>
                                </div>
                                <!-- Verify New email -->
                                <div class="form-group">
                                    <label>Verify New email</label>
                                    <input type="email" class="form-control" asp-for="VerifyNewEmail">
                                    <span asp-validation-for="VerifyNewEmail" class="text-danger"></span>
                                </div>
                                <!-- Submit Button -->
                                <button class="btn btn-transparent">Change email</button>
                            </form>

                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</section>